@model CNPM_QLHocSinh.Models.HocSinh

@{
    ViewBag.Title = "Học Sinh";
}

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Xác nhận xóa @Html.DisplayFor(model => model.HoTen)?</h2>
                    <hr />

                    @Html.Partial("PartialViews/_HocSinhDetails", Model)

                    <div class="text-center mt-4">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Xóa" class="btn btn-danger" /> |
                                @Html.Partial("_BackBtn")
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
