body {
    margin: 0;
}

#div-top {
    /* width: 100%; */
    max-width: 100%;
    height: 60px;
    background-color: royalblue;
}

#div-main {
    display: flex;
    flex-direction: row;
    height: 100vh;
    max-width: 2000px;
    /* position: relative; */
    margin: 0 auto;
}

#div-left {
    /*width: 15%;
    height: auto;
    background-color: white;
    padding: 20px;
    position: relative;*/
    width: 15%;
    height: 100%;
    max-height: 100%;
    background-color: lightsteelblue;
    padding: 10px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

#div-containt{
    width: 85%;
    max-width:1600px;
    height: 100vh;
    padding-left: 20px;
    background-color: aliceblue;
    align-items: center;
}

.menu {
    align-items: center;
    position: absolute;
    flex-wrap: wrap;
}

.menu ul{
    padding: 0px;
    margin: 0;
    list-style-type: none;
}

.menu li{
    height:50px;
    width:100%;
    padding: 5px;
    list-style:none;
    display: flex;
    align-items:center;
}

    .menu li:hover {
        background-color: royalblue;
        padding: 12px;
    }

.menu li a{
    width:100%;
    height: 100%;
    display:flex;
    align-items:center;
    color: black;
    text-decoration:none;
    font-size: 20px;
}

.name_app{
    text-decoration:none;
    margin:10px;
    padding:15px;
    font-size:25px;
    font-weight:bold;
    color:white;
}


.red-button {
    color: #fff;
    background-color: #ff0000;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #ff0000;
    border-radius: 5px;
}

    .red-button:hover {
        background-color: #cc0000;
        border-color: #cc0000;
    }

.feature-button {
    margin: 10px;
    padding-left: 20px;
}

.search {
    display: flex;
    margin:10px;
    align-items:center;
}

#search_text input{
    height:40px;
    width:400px;
}
#button_search button{
    height:40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left:-10px;
}

#partial_button{
    margin-left: 30px;
}

.namebox{
    padding:10px;
}
