body {
    margin: 0;
}

#div-top {
    width: 100%;
    height: 60px;
    background-color: royalblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.user {
    display: flex;
    align-items: center;
}

#div-main {
    display: flex;
    height: 100vh;
    max-width: 2000px;
    margin: 0 auto;
}

#div-left {
    width: 15%;
    height: 100%;
    background-color: lightsteelblue;
    padding: 10px;
    position: relative;
    overflow-y: auto;
    overflow-x: hidden;
}

#div-containt {
    width: 85%;
    padding-left: 20px;
    background-color: aliceblue;
    overflow-y: auto;
}

.menu {
    display: flex;
    flex-direction: column;
}

    .menu ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .menu li {
        height: 50px;
        padding: 5px;
        display: flex;
        align-items: center;
    }

        .menu li:hover {
            background-color: royalblue;
        }

        .menu li a {
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            color: black;
            text-decoration: none;
            font-size: 20px;
        }

.name_app {
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: white;
}

.red-button {
    color: #fff;
    background-color: #ff0000;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid #ff0000;
    border-radius: 5px;
}

    .red-button:hover {
        background-color: #cc0000;
        border-color: #cc0000;
    }

.feature-button {
    margin: 10px;
    padding-left: 20px;
}

.search {
    display: flex;
    margin: 10px;
    align-items: center;
}

#search_text input {
    height: 40px;
    width: 400px;
}

#button_search button {
    height: 40px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-left: -10px;
}

#partial_button {
    margin-left: 30px;
}

.namebox {
    padding: 10px;
}

.navbar-text {
    margin-right: 10px;
    color: white;
}

.btn-link {
    color: white;
    text-decoration: none;
}

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.navbar-nav{
    display:contents;
    color:white;
}
