@if (ViewBag.ModelError != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Html.Raw(ViewBag.ModelError)
    </div>
}
@if (ViewBag.Error != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @Html.Raw(ViewBag.Error)
    </div>
}
